<!DOCTYPE html>
<html lang="'ko">
<head> 
    <meta charset=""UTF-8>
    <title>여기서 뭐먹지?</title>
    <style>
        body {background: #c8e6c9;}
        #header {width: 1000px; height:100px;line-height:100px;background:#2e7d32}
        #contents {float:left;width:1000px;height:300px;line-height:500px;background:#4caf50;}
    </style>
</head>
<body>
    <div id ="wrap">
        <div id="header">여기서 뭐먹지?!</div>
        <div id="contents">무엇을 먹을까잉?</div>
        <!-- <form action='login_page.php'>
            <input type='button' 
                   value='클릭해보세요' 
                   onclick='alert("안녕하세요")'/> -->
                   <button type="button" 
                   onclick="location.href='/Korean1/'; ">
                   해운대이름난암소갈비(육류)</button>
                   <button type="button" 
                   onclick="location.href='/Korean2/'; ">
                   달인막창(막창)</button>
                   <button type="button" 
                   onclick="location.href='/Korean3/'; ">
                   징기스(양갈비)</button>
                   <button type="button" 
                   onclick="location.href='/Korean4/'; ">
                   보리문디(한식)</button>
                   <button type="button" 
                   onclick="location.href='/Chinese1/'; ">
                   홍탕(중식)</button>
                   <button type="button" 
                   onclick="location.href='/Chinese2/'; ">
                   하오(중식)</button>
                   <button type="button" 
                   onclick="location.href='/Western1/'; ">
                   오페라하우스(양식)</button>
                   <button type="button" 
                   onclick="location.href='/Western2/'; ">
                   콩부인더오븐(양식)</button>
                   <button type="button" 
                   onclick="location.href='/Western3/'; ">
                   ARTISTA(멕시코)</button>
                   <button type="button" 
                   onclick="location.href='/Snack1/'; ">
                   소문난칼국수(분식)</button>
                   <button type="button" 
                   onclick="location.href='/Snack2/'; ">
                   부산동창오뎅(오뎅)</button>
                   <button type="button" 
                   onclick="location.href='/Japanese1/'; ">
                   하루참치(일식)</button>
                   <button type="button" 
                   onclick="location.href='/Japanese2/'; ">
                   할매집원조복국(복어요리)</button>
                   <button type="button" 
                   onclick="location.href='/Japanese3/'; ">
                   이노시시(이자카야)</button>
                   <button type="button" 
                   onclick="location.href='/Cafe1/'; ">
                   안녕커피sea(카페)</button>
                   <button type="button" 
                   onclick="location.href='/Cafe2/'; ">
                   커피나무(카페)</button>
                   <button type="button" 
                   onclick="location.href='/Cafe3/'; ">
                   테라스카페(카페)</button>
          <!-- </form> -->
    </div>
</body>
</html>